@media screen and (min-width: 1300px) {
  #tab1 {
    position: fixed;
    left: 3%;
  }
  .tab {
    position: fixed;
    z-index: 1000;
    top: 5%;
    left: 15%;
    width: 50px;
    height: 50px;
    margin-left: -35px;
    margin-top: -35px;
    cursor: pointer;
  }
  .tab .bars {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
  }
  .tab .bars span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 26px;
    height: 3px;
    margin-left: -13px;
    margin-top: -1px;
    background-color: #8dc1ca;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  .tab .bars span:first-child {
    margin-top: -7px;
  }
  .tab .bars span:nth-child(2) {
    -webkit-transition-delay: 0.075s;
    transition-delay: 0.075s;
  }
  .tab .bars span:last-child {
    margin-top: 5px;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  .tab:hover .bars span {
    width: 30px;
    margin-left: -15px;
  }
  .tab.active .bars span {
    width: 0;
    margin-left: -15px;
  }
  .tab.active .bars span:first-child {
    margin-top: 0px;
    width: 30px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .tab.active .bars span:last-child {
    margin-top: 0px;
    width: 30px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  .tag-container,
  #post-container {
    min-height: 100vh;
  }
  body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.01);
    -webkit-box-shadow: inset 0 0 6px transparent;
  }
  body::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  }
  body::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
  }
  body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1);
  }
  body::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.4);
  }
  body {
    overflow-x: hidden;
  }
  .side {
    position: fixed;
    width: 25%;
    z-index: 100;
    justify-content: center;
  }
  #main {
    left: 25%;
    justify-content: center;
    text-align: center;
    width: 60%;
  }
  #content {
    width: 100%;
    position: relative;
  }
  #bg {
    width: 100%;
    /*宽度铺满屏幕*/
    min-height: 100vh;
    padding-top: 52.734%;
    /*图片高度除以宽度，得到此值*/
    background: url("") center center;
    /*两个center分别为水平和垂直方向的对齐方式*/
    background-size: 100%;
    /*背景水平铺满*/
    filter: blur(10px);
    /*虚化值，越大越模糊*/
    position: fixed;
  }
  .nav-large {
    display: block;
    position: absolute;
    /*设置内容层绝对定位*/
    width: 100%;
    text-align: center;
    z-index: 2;
    /*将内容至于上层*/
  }
  .nav-small {
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  .nav-large {
    display: none;
  }
  .nav-small {
    display: block;
  }
  .pagination-container {
    margin-top: 30px;
  }
  .pagination-container a {
    float: left;
    width: auto;
    border: solid;
    color: black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15%;
    padding-right: 15%;
  }
  .pagination-container .mobile-nextpage {
    float: right;
  }
  .tag {
    width: 40%;
  }
}
.describtion {
  margin-top: 3%;
  text-align: center;
  font-size: 12px;
  color: white;
  font-weight: lighter;
}
.sitename {
  margin-top: 3%;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  color: antiquewhite;
  font-family: Arial, Verdana, "宋体";
}
.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  /*该动画只执行一次*/
  -webkit-transform: rotate(0deg);
  /*i图标旋转*/
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.9s ease-in-out;
  /*transform进行动画，动画用时1秒钟*/
  transition: -webkit-transform 0.9s ease-in-out;
}
.avatar-border {
  margin: 0 auto;
  margin-top: 10%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.avatar:hover {
  /*该动画只执行一次*/
  -webkit-transform: rotate(360deg);
  /*鼠标hover时，i图标旋转*/
  transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.9s ease-in-out;
  /*transform进行动画，动画用时1秒钟*/
  transition: -webkit-transform 0.9s ease-in-out;
}
.share-button {
  margin: 0 auto;
  margin-top: 5%;
  width: 250px;
  height: 35px;
  background: #dfe6e9;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.3s linear;
}
.share-button span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  border: solid;
  border: #000;
  color: #f1f1f1;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  transition: 0.6s linear;
  border-radius: 20px;
  z-index: 2;
}
.share-button i {
  text-align: center;
}
.share-button:hover span {
  transform: translateX(-100%);
  transition-delay: 0.3s;
}
.share-button a {
  flex: 1;
  font-size: 26px;
  color: #2d3436;
  text-align: center;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.3s linear;
  z-index: 1;
}
.share-button:hover a {
  opacity: 1;
  transform: translateX(0);
}
.mchocie {
  margin-top: 5%;
  text-align: center;
  font-size: 16px;
  color: #495057;
  font-weight: bold;
}
hr {
  margin-top: 5%;
  margin-bottom: 2%;
  width: 200px;
}
.menubutton {
  font-size: 1.1em;
  font-family: kaiti;
  color: antiquewhite;
}
.menubutton:hover {
  font-size: 1.2em;
  color: white;
}
#footinfo {
  color: white;
  font-family: Arial, Verdana, "宋体";
  font-weight: lighter;
  text-align: center;
}
#footinfo a {
  color: white;
  font-family: Arial, Verdana, "宋体";
}
#sitegotimeDate,
#sitegotimes {
  color: white;
  font-weight: lighter;
  font-size: 12px;
  display: inline;
  float: center;
}
.icon {
  width: 30%;
}
.search {
  margin: 0 auto;
  width: 200px;
  display: flex;
  cursor: pointer;
  margin-top: 3%;
  position: relative;
  height: 30px;
  text-align: right;
  line-height: 30px;
}
.search button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 33px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.search button:before {
  content: "🔍";
  font-size: 15px;
  color: #F9F0DA;
}
.search input {
  width: 100%;
  height: 33px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 10px;
  outline: none;
  font-size: 12px;
  background: #F9F0DA;
  color: #9E9C9C;
}
.search .search-results {
  display: block;
  z-index: 1000;
  position: absolute;
  top: 40px;
  width: 200px;
  max-height: 400px;
  overflow: auto;
  text-align: left;
  border-radius: 5px;
  background: #ccc;
  box-shadow: 0 0.3rem 0.5rem #333;
}
.search .search-results .result-item {
  background: white;
  color: #000;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.pagi {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  width: 100%;
  padding-left: 30%;
  padding-right: 30%;
}
.pagi ul {
  margin: 50px 0 0 0;
  position: relative;
  left: 0%;
  display: flex;
  padding: 0;
  z-index: 3;
}
.pagi ul li {
  list-style: none;
  font-family: sans-serif;
}
.pagi ul li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  background: #353535;
  color: #565656;
  text-decoration: none;
  margin: 5px;
  border-radius: 4px;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
}
.pagi ul li a.active,
.pagi ul li a:hover {
  color: #fff;
  text-shadow: 0 0 20px #ffe01b, 0 0 20px #ffe01b, 0 0 20px #ffe01b, 0 0 20px #ffe01b, 0 0 20px #ffe01b, 0 0 20px #ffe01b, 0 0 20px #ffe01b, 0 0 20px #ffe01b, 0 0 20px #ffe01b;
}
#post-container {
  background: white;
}
.postshow {
  padding: 40px 20px 40px 20px;
  position: relative;
  z-index: 1;
}
.posttitlebox {
  position: absolute;
  z-index: 2;
  bottom: 17px;
  width: 100%;
}
.posttitle {
  font-size: 2em;
  color: #f7f7f7;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: lighter;
  position: relative;
  padding-left: 2%;
  float: left;
  cursor: pointer;
}
.posttitlewithoutimg {
  font-size: 2em;
  color: #f7f7f7;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: lighter;
  position: relative;
  padding-left: 2%;
  float: left;
  cursor: pointer;
}
.postimage {
  position: relative;
  border-radius: 30px;
  cursor: pointer;
}
.postdate {
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
  background: #ff4e6a;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  display: inline;
  float: left;
}
.poststatus {
  margin-left: 10px;
  background: #ffaa73;
  width: 150px;
}
.posttag {
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  border-radius: 10px;
  left: 0;
  display: inline;
  float: left;
}
.postlink {
  margin-left: 5px;
  border: solid;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  color: #3cdc82;
}
.postinfo {
  margin-left: 0;
}
.postdate i {
  padding-right: 10px;
}
a:hover {
  text-decoration: none;
}
@media screen and (max-width: 1300px) {
  .posttitlewithoutimg,
  .posttitle {
    font-size: 1.2em;
    padding-left: 5%;
  }
  .posttitlebox {
    position: absolute;
    z-index: 2;
    bottom: 45px;
    width: 100%;
  }
  .poststatus {
    display: none;
  }
}
.toc-container {
  position: fixed;
  width: 20%;
  z-index: 101;
  right: 2%;
  top: 20%;
  text-align: left;
}
.toc-container li {
  position: sticky;
  list-style: none;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 15px;
}
.markdownIt-TOC {
  padding-left: 25%;
}
.markdownIt-TOC li {
  padding-left: 9%;
}
.markdownIt-TOC li a {
  color: antiquewhite;
  display: block;
  transition: all 0.3s;
}
.markdownIt-TOC li a:hover {
  text-decoration: underline;
}
.markdownIt-TOC li a.current {
  color: white;
  border: solid;
  border-radius: 5px;
}
.markdownIt-TOC li ul {
  padding-left: 0%;
}
h6,
.text,
code,
span,
pre,
a,
div {
  font-size: 15px;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 23px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 15px;
}
code {
  overflow: scroll;
}
pre code {
  white-space: inherit;
}
@media screen and (min-width: 1300px) {
  .commentcontainer {
    padding: 30px;
  }
}
@media screen and (max-width: 1300px) {
  .commentcontainer {
    width: 90%;
  }
}
.archives-year {
  padding-top: 5%;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
  padding-left: 5%;
}
.archives-content {
  background: white;
  min-height: 100vh;
}
.archives-content ul {
  margin: 0;
  margin-top: 2%;
  list-style: none;
  position: relative;
  color: #fff;
  font-size: 13px;
}
@media screen and (min-width: 1300px) {
  .archives-content ul {
    padding: 1px 100px;
  }
}
.archives-content ul li {
  position: relative;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  border-radius: 6px;
  width: 80%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.archives-content ul li:not(:first-child) {
  margin-top: 60px;
}
.archives-content ul li > span {
  width: 2px;
  height: 100%;
  background: #ff4e6a;
  opacity: 0.8;
  left: -30px;
  top: 0;
  position: absolute;
}
.archives-content ul li > span:before,
.archives-content ul li > span:after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  background: #ff4e6a;
  left: -5px;
  top: 0;
}
.archives-content ul li span:after {
  top: 100%;
}
.archives-content ul li > div {
  margin-left: 10px;
}
.archives-content div .title,
.archives-content div .type {
  font-weight: 600;
  font-size: 12px;
}
.archives-content div > div {
  margin-top: 5px;
}
.archives-title {
  color: black;
  text-align: left;
  font-weight: 300;
  font-size: 1.5em;
}
.archives-time {
  padding-top: 3%;
  text-align: left;
  font-weight: lighter;
  color: #ced4da;
}
.allcontent {
  background: white;
  height: auto;
  min-height: 100vh;
  justify-content: left;
  text-align: left;
}
.text {
  padding-top: 60px;
  padding-bottom: 50px;
  z-index: 5;
}
.text img {
  width: 100%;
}
.prev-post {
  display: inline;
  background: white;
  float: left;
  font-size: 1.4em;
  color: black;
}
.next-post {
  display: inline;
  background: white;
  float: right;
  font-size: 1.4em;
  color: black;
}
.prev-post a,
.next-post a {
  color: black;
}
.prev-post a:hover,
.next-post a:hover {
  color: blue;
}
#texttitle {
  padding-top: 50px;
}
@media screen and (min-width: 1300px) {
  .allcontent .postdate,
  .allcontent .poststatus,
  .allcontent .posttag {
    width: 20%;
    font-size: 15px;
  }
  #texttitle {
    margin-top: 50px;
  }
  .postimage {
    width: 100%;
  }
  .allcontent #vcomments {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1300px) {
  .prev-post,
  .next-post {
    margin-top: 25px;
    border: solid;
    border-radius: 10px;
    box-shadow: 2ch;
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 1380px) {
  #live2d-widget {
    display: none;
  }
  .welcome {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("") fixed no-repeat;
    background-size: cover;
  }
  .cursorcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
  }
  .mobiledescribtion {
    font-size: 20px;
    color: white;
  }
}
@media screen and (max-width: 1300px) {
  #friendscontainermobile {
    position: flex;
    min-height: 70vh;
    display: block;
  }
  #friendscontainer {
    display: none;
  }
  .friend-box img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    float: left;
    overflow: hidden;
  }
  .friend-box {
    float: left;
    border-radius: 10px;
    cursor: pointer;
    background: black;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .flink-info {
    padding: 5px;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .friend-box .title {
    margin-top: 10px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
  }
}
@media screen and (min-width: 1300px) {
  #friendscontainermobile {
    display: none;
  }
  #friendscontainer {
    display: block;
  }
  #friendscontainer {
    width: 80%;
    min-height: 100vh;
  }
  /* ---------------------------------用户信息展示表单 ------------------------------*/
  #friendscontainer .infoForm {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-left: 50px;
    flex-direction: column;
    box-shadow: inset 0 0 0 300px /*渲染阴影*/ #363636;
    opacity: 0.8;
    text-align: center;
    z-index: 100;
    border-radius: 18px;
    overflow: hidden;
    line-height: 5px;
    word-wrap: break-word;
    cursor: pointer;
  }
  #friendscontainer .favatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
    display: inline;
    opacity: 1;
  }
  #friendscontainer .infoForm h2,
  #friendscontainer .infoForm h3 {
    color: white;
    font-weight: lighter;
    margin-top: 10px;
  }
  #friendscontainer .infoForm h2 {
    color: antiquewhite;
    font-size: 20px;
  }
  #friendscontainer .infoForm h3 {
    font-size: 15px;
    margin: 0;
    margin-top: 5px;
  }
}
